<h1>{{title}}</h1>

<form class='std-form' #f='ngForm'  (ngSubmit)="salvar(f)">

  <mat-form-field>
    <mat-label>Nº Compra</mat-label>
    <input matInput [(ngModel)]="compra.nro_compra" name='nro_compra' readonly>
  </mat-form-field>

  <mat-form-field>
  <mat-select placeholder="Selecione o livreiro" required [(ngModel)]="compra.livreiro" name="livreiro">
     <mat-option *ngFor="let livreiro of livreiros" [value]="livreiro._id">
        {{ livreiro.cpf | mask: "000.000.000-00"}}
     </mat-option>
  </mat-select>
</mat-form-field>

  <mat-form-field>
    <mat-label>Data da Compra</mat-label>
    <input name='data_compra' matInput [(ngModel)]="compra.data_compra" [matDatepicker]="data_compra" required>
    <mat-datepicker-toggle matSuffix [for]="data_compra"></mat-datepicker-toggle>
    <mat-datepicker #data_compra></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Selecione a sua forma de pagamento" required [(ngModel)]="compra.forma_pagamento"
      name=" forma_pagamento">
      <mat-option *ngFor="let fp of formasPagamento " [value]="fp.codigo">
        {{fp.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data do Pagamento</mat-label>
    <input name='data_pagamento' matInput [(ngModel)]="compra.data_pagamento" [matDatepicker]="data_pagamento">
    <mat-datepicker-toggle matSuffix [for]="data_pagamento"></mat-datepicker-toggle>
    <mat-datepicker #data_pagamento></mat-datepicker>
  </mat-form-field>

  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" id="salvar">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

</form>

<ng-container *ngIf="compra._id">
  <hr>
  <app-item-compra-list [compra]="compra._id"></app-item-compra-list>
</ng-container>